.accordion {
    position: relative;
    display: none;
    background-color: white;
    color: #000;
    cursor: pointer;
    padding: 1.8rem;
    width: 100%;
    text-align: left;
    border-top: 1px solid rgb(207, 207, 207);
    outline: none;
    transition: all 0.5s ease 0s;
    min-height: 10rem;

    & a {
        font-size: 13px;
        margin-top: 3rem;
    }

    &__icon {
        position: relative;
        background-color: #fff;
        transform: rotate(90deg);
        color: #000;
        transition: all 0.3s ease 0s;

        .chevron {
            position: relative;
            display: block;
            height: 5px;
            margin-right: 3rem;
        }

        .chevron:before,
        .chevron:after {
            transition: all 0.5s ease 0s;
            position: absolute;
            display: block;
            content: "";
            border: 5px solid transparent;
        }

        .active:before,
        .active:after {
            transition: all 0.5s ease 0s;
            position: absolute;
            display: block;
            content: "";
            border: 5px solid transparent;
            transform: rotate(180deg);
        }

        .chevron:before {
            top: 0;
            border-top-color: rgb(207, 207, 207);
        }

        .chevron:after {
            top: -10px;

        }
    }
}

.panel {
    display: none;
    padding: 0 1.8rem;
    background-color: #F4F9F9;
    overflow: hidden;
    margin-bottom: 2rem;
    margin: 0 -1rem;
    & p{
        margin: 3rem 4rem;
        line-height: 4rem;
        font-size: 12px;
        font-weight: 200;
    }

    & ul {
        margin: 1rem 0;

        & li a {
            margin: 3rem 4rem;
            line-height: 4rem;
            font-size: 12px;
            font-weight: 200;
        }
    }
}

.active {
    transition: all 0.5s ease 0s;
    background: #FFF;
}

@media screen and (max-width: 480px) {
    .accordion {
        transition: all 0.5s ease 0s;
        display: flex;
        justify-content: space-between;
    }

    .card__accordion {
        transition: all 0.5s ease 0s;
        font-size: 16px;
        font-weight: bold;
    }

}