.brands-all {
    &__nav {
        display: flex;
        margin: 3rem 0;
        flex-wrap: wrap;
        gap: 5px;
        &-link, &-slash {
            color: #5C596A;
        }
    }
    &__title {
        font-size: 56px;
        font-weight: bold;
        color: #090909;
    }
    &__line {
        height: 1px;
        width: 100%;
        background: #d2d2d2;
        margin: 4.7rem 0 4.2rem 0;
    }
    &__abc {
        display: flex;
        width: fit-content;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 4.5rem;
    }
    &__letter {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 3rem;
        height: 3rem;
        font-size: 1.6rem;
        font-weight: bold;
        &:hover {
            background: #10ae73;
        }
        &:hover a {
            color: #fff;
        }
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 6rem;
        column-gap: 3rem;
        margin-bottom: 10rem;
    }
    &__logo-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30rem;
        height: 20rem;
        border: 1px solid #e8e8e8;
    }
    &__name {
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;

    }
    &__name:hover a {
        color: #10ae73;
    }
    &__country {
        font-size: 12px;
        width: 7rem;
        height: 2.5rem;
        margin: 2rem 0;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e2e2e2;
    }
}

@media screen and(max-width:1100px) {
    .brands-all {
        &__nav {
            margin: 4rem 0;
        }
        &__abc {
            gap: 1.5rem;
            margin-bottom: 6rem;
        }
        &__letter {
            width: 4rem;
            height: 4rem;
        }
        &__container {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 8.5rem;
            column-gap: 4.5rem;
            margin-bottom: 14rem;
        }
        &__logo-block {
            width: 49rem;
            height: 28.5rem;
            border: 1px solid #e8e8e8;
        }
    }
}

@media screen and(max-width:480px) {
    .brands-all {
        &__nav {
            &-link, &-slash {
                font-size: 12px;
            }
        }
        &__title {
            font-size: 26px;
        }
        &__abc {
            gap: 2rem;
            margin-bottom: 5rem;
        }
        &__letter {
            font-size: 14px;
            width: 6rem;
            height: 6rem;
        }
        &__container {
            margin-bottom: 9rem;
            row-gap: 6rem;
            column-gap: 4rem;
        }
        &__logo-block {
            width: 100%;
            height: 20rem;
            gap: 4.4rem;
            & img {
                width: 20rem;
                height: 10rem;
            }
        }
        &__country {
            width: 14rem;
            height: 5rem;
        }
        &__name {
            font-size: 12px;
            line-height: 4rem;
        }
        &__abc {
            display: flex;
            width: fit-content;
            flex-wrap: wrap;
            gap: 1rem;
            margin-bottom: 4.5rem;
        }
    }
}

