.burger {
  display: block;
  position: relative;
  z-index: 3;
  width: 4rem;
  height: 2rem;
  background-color: #fff;

  & span {
    position: absolute;
    background: #000;
    width: 100%;
    height: 0.2rem;
    left: 0;
    top: 0.9rem;
    transition: all 0.3s ease 0s;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 0.2rem;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active::before {
    transform: rotate(45deg);
    top: 0.9rem;
  }

  &.active::after {
    transform: rotate(-45deg);
    bottom: 0.9rem;
  }

  &.active span {
    transform: scale(0);
  }
}

@media screen and(max-width: 768px) {
  .header__burger {
    position: absolute;
    left: 3rem;
  }
}