.card {
  &__header {
    display: flex;
    min-height: 6rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__nav-link {
    color: #5C596A;
    font-size: 14px;
  }

  &__main {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-areas:
      "foto description"
      "foto main"
      "foto calculation"
      "foto .. "
    ;
    margin-top: 2rem;
  }

  &__block-foto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: foto;
    width: 550px;
  }

  &__foto-main {
    padding-bottom: 5rem;
    height: 550px;
  }

  &__foto {
    width: 100%;
  }
  //стили скроллбара для webkit браузеров 
  &__block-foto-mini::-webkit-scrollbar { 
    height: 6px;
    width: 15%;
  } 
  &__block-foto-mini::-webkit-scrollbar-thumb {
    background-color: rgb(7, 196, 127);
    border-radius: 50px;
  } 
  
  &__block-foto-mini {
    
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: rgba(79, 79, 79, 0.4) rgba(193, 193, 193, 0.4);
    scrollbar-width: thin;
    gap: 20px;
    padding-bottom: 21px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.4);
    //стили скроллбара для mozilla браузера
    scrollbar-color: rgb(7, 196, 127) rgba(150,150,150,0.3);
    scrollbar-width: thin;

    & input[type="radio"] {
      display: none;
    }
  }


  &__foto-mini {
    cursor: pointer;
    border: 1px solid rgb(207, 207, 207);
    transition: transform 1s ease;

    &:hover {
      opacity: 0.6;
      border: 1px solid rgb(7, 196, 127);
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    }
  }

  &__header-description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(207, 207, 207);
  }

  &__header-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  &__brand-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__brand-img {
    height: 3rem;
  }

  &__main-description {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 22rem;
    border-bottom: 1px solid rgb(207, 207, 207);
  }

  &__main-text {
    font-size: 16px;
    line-height: 2.5rem;
  }

  &__main-link {
    font-size: 1.8rem;
    line-height: 2rem;
    text-decoration: underline;
    color: rgb(7, 196, 127);
  }

  &__main-selects-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 1rem;

    & select {
      font-size: 14px;
    }
  }

  &__select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    min-height: 2rem;
    margin-bottom: 2rem;
  }

  &__seclect-title {
    font-size: 14px;
    font-weight: bold;
  }

  &__select {
    height: 4rem;
    width: 165px;
    ;
  }

  &__calculation {
    font-size: 14px;
    margin-left: 1rem;
    line-height: 3rem;
    color: rgb(255, 145, 50);
  }

  &__footer-description {
    display: flex;
    align-items: center;
    grid-area: calculation;
  }

  &__footer {
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-top: 3rem;

    & input[type='radio']:checked + label {
      padding-bottom: 2.5rem;
      border-bottom: 3.5px solid rgb(7, 196, 127)
    }
    .input-card-1:checked ~ .card-1 {
      display: block;
    }
    .input-card-2:checked ~ .card-2 {
      display: block;
    }
    .input-card-3:checked ~ .card-3 {
      display: block;
    }
    & section {
      margin-top: 3rem;
      border-top: 1px solid rgb(207, 207, 207);
    }
  }

  & input[type="radio"] {
    display: none;
  }

  & label {
    font-size: 18px;
    font-weight: 900;
    color: #000;
    margin-right: 3rem;
  }

  &__footer-tab-title {
    padding: 0.5px 1rem;
    border-bottom: none;
    top: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  &__footer-tab-content {
    padding: 1rem 0;
    width: calc(100% - 2rem);
    display: none;
  }

  &__footer-text-block {
    min-height: 0rem;
  }

  &__footer-text {
    font-size: 16px;
    line-height: 3rem;
  }
}

@media screen and(max-width:1100px) {
  .card {
    &__main {
      grid-template-areas:
        "description description"
        "foto foto"
        "foto foto"
        "main main"
        "calculation calculation";
    }

    &__header-title {
      //width: 630px;
    }

    &__header-description {
      justify-content: space-around;
      min-height: 18rem;
      border-bottom: none;
    }

    &__block-foto {
     // width: 95vw;
    }

    &__main-description {
      min-height: 20rem;
      justify-content: space-around;
      line-height: 3rem;
    }

    &__main-selects-block {
      margin-top: 1rem;
    }

    &__select-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 1rem;
      min-height: 2rem;
      margin-bottom: 2rem;

      & select {
        font-size: 2rem;
        min-width: 100%;
      }
    }

    &__main-text {
      margin: 1.5rem 0;
    }

    &__main-link {
      margin-bottom: 2rem;
    }

    &__footer-description {
      min-height: 20rem;
    }
    &__footer-text{
      line-height: 4rem;
      margin: 10px 0;
    }
  }
}

@media screen and(max-width:480px) {
  .card {
    &__header {
      min-height: 10rem;
   

      &-title {
        font-size: 20px;
        width: 95vw;
      }
    }

    &__block-foto {
      min-height: 100%;
    }

    &__foto-main {
      width: 95vw;
      height: 300px;
   
      
    }

    &__nav-link,
    &__nav-slach {
      font-size: 12px;
    }

    &__brand-img {
      height: 5rem;
    }

    &__main-text {
      font-size: 14px;
      line-height: 4rem;
      margin-bottom: 2rem;
    }

    &__main-link {
      font-size: 14px;
    }

    &__main-selects-block {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }

    &__select-container {
      gap: 1rem;
      min-height: 3rem;
      margin-bottom: 1.5rem;
    

      & select {
        font-size: 14px;
      }
    }

    &__select {
      height: 45px;
    }

    &__block-foto-mini {
      width: 100%;
      margin-bottom: 3rem;
    }

    &__header-description {
      min-height: 25rem;
    }

    &__main-description {
      min-height: 40rem;
      width: 95vw;
    }

    &__footer {
      & label, & section {
        display: none;
      }
    }
    &__footer-description {
      min-height: 20rem;
      width: 95vw;
    }
    &__footer-text-block {
      display: none;
    }

    &__footer-lincks-block {
      display: none;
    }

    &__footer-text{
      line-height: 4rem;
      margin: 10px 0;
    }
  }
}