
.checkout {
    margin-bottom: 5rem;
    &__nav-link{
      min-width: 35.8rem;
    }

    &__header {
        display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 1rem 0 4rem 0;
       border-bottom: 1px solid rgb(207, 207, 207);
       button{
           background-color: #fff;
           :hover{
               opacity: 0.8;
           }
       }
    }

    &__person-title-wrap {
        display: flex;
        width: 485px;
        justify-content: space-between;
       
        p{
            margin-top: 0;
        }
        button{
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            color: rgb(7, 196, 127);
            font-size: 16px;
            height: 2.5rem;
            width: 13.5rem;
            span{
                margin-left: 1rem;
            }
        }
    }

    &__radio-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
        
       div{
           padding-top: 2rem;
           line-height: 2.5rem;
           min-height: 140px;
           align-items: flex-start;
           flex-direction: column;
           border: 1px dashed rgba(204, 201, 201, 0.5);
           margin-right: 0rem;
           label{
            font-weight:100;
            font-size: 16px;
           }
           span{
               margin-left: 8px;
               font-weight: 900;
               font-size: 16px;
           }
           a{
            margin-left: 23px;
            text-decoration: underline;
            opacity: 0.5;
            font-size: 16px;
           }
          
       }
    }

    &__punkt-input {
        visibility:hidden;
        margin-bottom: 3rem;
        position: absolute;
        width: 670px;
        label{
            margin-bottom: 2rem;
        }
        input{
            width: 100%;
        }
    }

    &__add-new-address{
        //display: none;
       margin-bottom: 3rem;
    }

    &__devilery-address{
        display: none;
    }
    &__punkt-btn {
        width: 110px;
        height: 30px;
        position: absolute;
        right:10px;
        top: 45px;
        span{
            font-size: 14px;
        }
    }

    &__hospital-input {
        margin-bottom: 5rem;
    }

    &__cost-calculation {
    }

    &__pay-icons {
        min-height: 50px;
        margin-bottom: 5rem;
    }

    &__border-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(204, 201, 201, 0.5);
        height: 50px;
        width: 150px;
    }

    &__footer{
        margin-top: 5rem;
    }
}

@media screen and (max-width: 1100px){
    .checkout{
        &__border-icon{
            width: 220px;
           
        }
        &__radio-block{
            margin-bottom: 5rem;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 45px;
        }
        &__cost-calculation {
            margin-top: 3rem;
            font-size: 16px;
        }
        &__add-new-address{
            margin-bottom: 5rem;
         }
         &__punkt-input {
            width:100%;
            input{
                width: 100%;
            }
        }
        &__punkt-btn {
            top: 38px;
        }
    }
}

@media screen and (max-width: 480px){
    .checkout{

        &__nav-link{
            min-width: 280px;
          }
      
        &__punkt-input {
            margin: 3rem 0;
            position: relative;
           
            width:100%;
            input{
                width: 100%;
            }
        }
        &__punkt-btn {
            top: 32px;
        }
        &__radio-block {
           div{
               line-height: 4rem;
               width: 100%;
              justify-content: center;
              }
              a{
              line-height: 6rem;
              }
        }
        &__border-icon{
            width: 100%;
           
        }
        &__header{
         flex-direction: column;
         align-items: flex-start;
         button{
             margin-top: 3rem;
            span {
                margin-left: 0rem;
              }
        }
        }
    }
}