.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  min-width: 130px;
  border-radius: 2.5rem;
  background-color: rgb(16, 174, 115);
  color: #fff;
  transition: all 0.2s ease 0s;
  &:hover {
    transition: all 0.2s ease 0s;
    background-color: rgb(7, 196, 127);
  }
}

@media screen and (max-width: 768px) {
  .main-btn {
    padding: 1rem 2rem;
    border-radius: 3.5rem;
    gap: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .main-btn {
    padding: 1rem 5rem;
    border-radius: 3.5rem;
    gap: 2rem;
    font-size: 1.8rem;
  }
}