main {
  margin-top: 167px;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-main {
  margin: 0 auto;
  max-width: 1300px;
}

@media screen and(max-width: 1100px) {
  .container-main {
    padding: 0 15px;
  }

  .container {
    padding: 0 15px;
  }
  main {
    margin-top: 93px;
  }
}

@media screen and(max-width: 480px) {
  .container-main {
    padding: 0 10px;
  }
  main {
    margin-top: 62px;
  }
}