main {
  margin-top: 167px;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-main {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
}


@media screen and(max-width: 1440px) {
  .container {
    max-width: 1370px;
  }
}

@media screen and(max-width: 1367px) {
  .container {
    max-width: 1250px;
  }
}

@media screen and(max-width: 1280px) {
  .container {
    max-width: 1250px;
  }
  .container-main {
    max-width: 1250px;
  }
}

@media screen and(max-width: 1024px) {
  .container {
    max-width: 995px;
  }
  .container-main {max-width: 995px;}
  main {
    margin-top: 150px;
  }
}

@media screen and(max-width: 768px) {
  .container-main {
    max-width: 768px;
  }
  main {
    margin-top: 93px;
  }
}

@media screen and(max-width: 480px) {
  .container-main {
    padding: 0 10px;
  }
  main {
    margin-top: 62px;
  }
}