.shoping-cart {

    &__promo {
        position: relative;
    }

    &__quantity {
        & button {
            background-color: #fff;
        }
    }

    &__picker {
        background-color: #fff;
        border: 1px solid rgb(149, 150, 155);
        color: black;
        align-items: center;
        justify-content: space-around;

        &:hover {
            background-color: #fff;
            border: 1px solid rgb(108, 109, 111);
        }
    }

    &__counter {
        font-size: 1.6rem;
    }

    &__delete {
        & button {
            background-color: #fff;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;


        & input[type='text'] {
            border: 1px solid rgb(207, 207, 207);
            border-radius: 3px;
            min-height: 45px;
            min-width: 30rem;
            font-size: 1.4rem;
            background-clip: padding-box;
            margin: 0 0 3rem 0;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            cursor: pointer;
        }
    }

    &__promo-submit {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #10AE73;
        top: 10px;
        right: 1rem;
    }

    &__footer-content {
        display: flex;
        flex-direction: row;
    }

    &__footer-content-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 11rem;
        width: 256px;
        margin-right: 5rem;
    }

    &__checkout-btn {
        width: 300px !important;
        height: 50px !important;
        justify-content: start;

        span {
            width: 100%;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        p {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
    }

    &__cost {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 1.8rem;
            font-weight: bold;
        }
    }

    &__delete-icon {
        stroke: #222222;
        opacity: 0.6;
    }
}

@media screen and (max-width: 1100px) {
    .shoping-cart {

        &__picker {
            width: 11.5rem;
            height: 4.5rem;
        }

        &__delete-icon {
            width: 1.7rem;
            height: 1.9rem;
        }

        &__footer-content {
            width: 60%;
        }
    }
}

@media screen and (max-width: 480px) {
    .shoping-cart {
        &__picker {
            height: 30px;

            span {
                font-size: 14px;
            }
        }

        &__delete {
            visibility: hidden;
            z-index: -10000;
            max-height: 0.1rem;
        }

        &__delete-icon {
            display: none;
        }

        &__footer {
            display: flex;
            flex-direction: column;
            margin-bottom: 55px;

            & input[type='text'] {
                min-width: 100%;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        &__footer-content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__list {
            p {
                font-size: 14px;
                margin-bottom: 2rem;
            }
        }

        &__cost {
            p {
                font-size: 16px;
                font-weight: bold;
            }
        }

        &__checkout-btn {
            width: 100% !important;
            height: 45px !important;

            justify-content: start;
            border-radius: 120px;

            span {
                width: 100%;
                font-size: 16px;
            }
        }

        &__footer-content-block {
            margin: 3rem 0;
            height: 80px;
            margin-bottom: 8rem;
        }

    }
}