.site-nav {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4rem;

  & span {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #c2c2c2;
  }

  &__link {
    font: caption;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.9rem;
    color: #161616;

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }

    &_red {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.9rem;
      color: red;
      margin-left: 1rem;

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
  }
}

@media screen and(max-width: 1024px) {
  .site-nav {
    gap: 3rem;
  }
}