.write-review {
    background: linear-gradient(270deg, #134574, #10ae73);
    width: 100%;
    height: 100vh;
    transform: translateX(-3000px);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3000;
    transition: all 0.3s ease;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 53rem 0 37rem;
    }

    &__container {
        height: 100%;
        display: flex;
    }

    &__title {
        color: #FFF;
        font-size: 5.6rem;
        font-weight: bold;
        margin-bottom: 6rem;
    }

    &__form {
        display: grid;
        gap: 2rem;
        grid-template-areas: 'name phone email''text text text''politic captcha submit';
        grid-template-columns: repeat(3, 1fr);
    }

    &__form input {
        height: 5rem;
        border-radius: 5px;
    }

    &__form label {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: #FFF;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &__form textarea {
        border-radius: 5px;
        padding: 1rem;
        resize: none;
    }

    &__name {
        grid-area: name;
    }

    &__phone {
        grid-area: phone;
    }

    &__email {
        grid-area: email;
    }

    &__text {
        grid-area: text;
    }

    &__politic {
        color: #FFF;
        padding: 1rem;
        font-size: 1.2rem;
        grid-area: politic;
    }

    &__politic {
        grid-area: politic;
    }

    &__link {
        text-decoration: underline;
        color: #FFF;
    }

    &__btn-submit {
        width: 27rem;
        height: 6rem;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: submit;
    }

    &__btn-close {
        position: absolute;
        right: 0;
        top: 0;
        background: #FFF;
        color: #000;
        height: 100vh;
        font-size: 50px;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__btn-close:hover {
        font-weight: bold;
    }
}

@media screen and(max-width:1100px) {
    .write-review {
        overflow: scroll;
        &__container {
            margin: 30rem 4rem;
        }
        &__content {
            padding: 0;
        }
        &__btn-close {
            position: absolute;
            right: 0;
            width: 7rem;
            height: 7rem;
            font-size: 4rem;
            padding: 1.5rem;
        }
        &__form {
            grid-template-areas: "name name name"
            "phone phone email"
            "text text text"
            "politic captcha submit";
            gap: 4rem;
            & input {
                height: 7rem;
            }
            & label, & input, & textarea {
                font-size: 2.3rem;
            }
            & input, & textarea {
                padding-left: 2.5rem;
            }
            & textarea {
                padding-top: 3rem;
            }
        }
        &__phone {
            width: 75%;
        }
        &__email {
            margin-left: -50%;
        }
        &__title {
            font-size: 8rem;
        }
        &__politic {
            padding: 0;
            line-height: 3rem;
            font-size: 1.7rem;
        }
        &__btn-submit {
            padding: 0;
            height: 8.5rem;
            font-size: 2rem;
            font-weight: normal;
            width: 100%;
        }
    }    
}

@media screen and(max-width:480px) {
    .write-review {
        overflow: scroll;
        &__container {
            margin: 15rem 3rem
        }
        &__content {
            padding: 0;
        }
        &__title {
            font-size: 5rem;
            margin-bottom: 3rem;    
        }
        &__form {
            display: flex;
            flex-direction: column;
            & input {
                height: 10rem;
            }
            & label, & input, & textarea {
                font-size: 2.8rem;
            }
            & textarea {
                height: 28rem;
            }
        }
        &__phone {
            width: 100%;
        }
        &__email {
            margin: 0;
        }
        &__politic {
            font-size: 2.4rem;
        }
        &__captcha img {
            width: 100%;
        }
        &__btn-submit {
            height: 10rem;
            font-size: 2.8rem;
        }
    }
}