html {
  font-size: 10px;
}

@media (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 7px;
  }

  .container {
    width: none;
  }

  .container-main {
    width: none;
    padding: 0 0 0 0;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 5px;
  }
}